body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.journal-card {
  max-width: 600px;
  margin: 10px auto;
}

.journal-floating-container {
  position: absolute;
  right: 20px;
  display: inline-block;
}

.journal-mood-icon {
    width: 35px !important;
}

.journal-mood-button {
    display: block;
    padding-bottom: 10px;
    z-index: 99;
}
